body {
  background-image: linear-gradient(
    to right,
    rgba(165, 42, 42, 0),
    rgba(165, 42, 42, 1)
  );
}
h1 {
  border: 4px solid black;
  text-align: center;
  background-color: rgb(237, 205, 163);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
}

p {
  background-image: linear-gradient(
    to right,
    rgba(167, 75, 75, 0),
    rgba(167, 75, 75, 1)
  );
  font-family: Arial, Helvetica, sans-serif;
}
